---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: operations.k8s.v6d.io
spec:
  group: k8s.v6d.io
  names:
    kind: Operation
    listKind: OperationList
    plural: operations
    singular: operation
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.name
      name: Operation
      type: string
    - jsonPath: .spec.type
      name: Type
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              name:
                type: string
              require:
                type: string
              target:
                type: string
              timeoutSeconds:
                format: int64
                type: integer
              type:
                type: string
            required:
            - name
            - require
            - target
            - timeoutSeconds
            - type
            type: object
          status:
            properties:
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
